key*.txt
friend-266503-91ab7f0dce62.json
client_secrets.json
credentials.json
osu_login.json
osu_api_key.txt
test_field.py
oma_pools.json
oma_pools_orig.json
fixca_api_key.txt
songs
.idea/
.idea/**/*.xml
.idea/**/*.iml
uids.txt
ratings.txt
goorm.manifest
__pycache__/
.flake8
.python-version
temp.txt
errors/
logs/
testkey.txt
